li {
  float: right;
}



html{
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100%;

}

body{

  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


li a{
  display: block;
  color: white;

  padding: 14px 16px;
  text-align: center;
  text-decoration: none;


}

li a:hover{
  background-color:  purple;
}
.required{
    background-color: white;
    color: black;

}

table{
  border-collapse: collapse;
  width: 100%
}
td, th {
  text-align: left;
  padding: 8px;

}

td{

color: black;
}

tr:nth-child(odd) {
  background-color: #f2f2f2
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

tr:hover{
  background-color:  #FD5AFF;
}

th{
  background-color: purple;
  color: white;
}

tr{
  background-color: white
  color: black ;
}

p{
  color: black;
}

legend{
  color: #FFBF00;
}

.bg{
  background-image: url(background-image: url(https://wallpapercave.com/wp/EdgejZ5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
u1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


u2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  color: black;

}

u3{
  list-style-type: none;
  float: left;
  color: black ;
  background-color: black;
}

.bottom:hover{
  background-color: green;
}

#nav{
  background-color: black;
  width: 100%;
  text-align: center;
  height: 46px;

}

.active{
  color: #819FF7
}


/*
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0D1749;
  color: white;
  text-align: center;
}
*/
h1 {
  color: white;
  float: left;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;

}
h2{
  color: black;
  text-align: center;

}

header{
  text-align: center;
  background-color: black;


}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.searchbarbutton{

  margin: 0;

  padding: 5px 15px;


  font-size:14px;

  outline: none;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  color: #ffffff;

  border: solid 2px #FFFFFF;

  background: black;


}

#box01 {
	width: 30%;
	margin: 120px;
	background-color: gray;
}

#login_box {
	border: 1px solid black;
	border-radius: 4px;
	width: 500px;
	height: 245px;
	box-shadow: 0px 4px 4px 0px gray;
	margin: 0 auto;
	background-color: gray;
}

#login_box h3 {
	margin-top: 0px;
	font-weight: normal;
	padding: 10px;
	background-color: a9a9a9;
	color: white;
	font-family: sans-serif;
}

#login_box div {
	clear: both;
	margin-top: 10px;
	padding: 5px;
	background-color: gray;
}

#login_box .textbox {
	width: 90%;
	padding: 7px;
}

#login_box input[type=submit] {
	padding: 7px;
	width: 100px;
	background-color: #a9a9a9;
	border: 0px;
	color: white;
}


#submit_button input[type=submit] {
	margin-top: 14px;
	background: black;
     color: white;
     border:none; 
     padding:0!important;
     font: inherit;
	cursor: pointer;
}