li {
  float: left;
}

body{

  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
}

li a{
  display: inline-block;
  color: white;
  background-color: #FFBF00;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;


}



tr{
  color: #FFBF00;
}

p{
  color: #FFBF00;
}

legend{
  color: #FFBF00;
}

li a:hover{
  background-color: #FF4000 ;
}

u1 {
  list-style-type: none;
  width: 800px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.active{
  color: #819FF7
}

h1 {
  color: #FFBF00;

}
h2{
  color: #FFBF00;
}
header{
  text-align: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid orange;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {

}
